<link rel="stylesheet" href="{$wa_url}wa-content/js/farbtastic/farbtastic.css" type="text/css" />
<script type="text/javascript" src="{$wa_url}wa-content/js/farbtastic/farbtastic.js"></script>

<style type="text/css">
    {include file="../css/fprview.backend.css" inline}
</style>

<script type="text/javascript">
    {include file="../../../js/fprview.backend.settings.js"}
</script>

<div class="plugin-links">
	<a id="more-info-review" href="[`//www.webasyst.com`]/store/plugin/shop/fprview/reviews/" target="_blank">[`Give <b>feedback</b>`]</a>
	<a id="more-info-plugins" href="[`//www.webasyst.com`]/store/vendor/1020720/" target="_blank">[`Other <b>products</b><br /> from the developer`]</a>
	<a id="more-info-support" href="mailto:support@max-severin.com">[`For all questions`]:<br /><b>support@max-severin.com</b></a>
</div>

<h1>[`Fast product preview`]</h1>

<p class="helper-tip">
    [`To output the «Fast Preview» link in shop frontend paste in the product template the following code`]:<br />
    <b>&#123;shopFprviewPlugin::displayButton($p.id)&#125;</b> - [`as a method parameter it is necessary to specify the product id`].
</p>

<div class="fields form">
    <form action="?module=plugins&id=fprview&action=save" method="post" id="plugins-settings-form" enctype="multipart/form-data" target="plugins-settings-iframe">
        {$wa->csrf()}
        {foreach $settings_controls as $name => $control}
        <div class="field">
            {$control}
        </div>
        {/foreach}

        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="{_w('Save')}">
                <span id="plugins-settings-form-status" style="display:none"><!-- message placeholder --></span>
            </div>
        </div>

    </form>
    <iframe style="display:none" name="plugins-settings-iframe" id="plugins-settings-iframe"></iframe>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        fprviewBackendSettings.initModule();
    });
</script>