.fields.form { width: 100%; }
.field .value input[type="text"] { width: 190px; }

.helper-tip { padding: 0 250px 0 0; word-wrap: break-word; }

.CodeMirror { border: 1px solid #eee; }
.CodeMirror-scroll { margin: 10px 0 0; width: 100%; }

.hint .CodeMirror { box-sizing: border-box; height: auto; }

.s-colorpicker { display: none; margin: -135px 0 0 245px; position: absolute; }

#button-template-get-origin, #button-style-get-origin { border-bottom: 1px dotted #21a6de; color: #21a6de; float: right; text-decoration: none !important; }
#button-template-origin, #button-style-origin { display: none; }
#button-template-warning { float: left; color: rgb(255, 51, 51); width: 60%; }

.plugin-links { margin: 0 20px; position: absolute; right: 0; }
.plugin-links a { background: gray none repeat scroll 0 0; border-radius: 2px; color: #fefefe!important; display: none; font-size: 1em; margin: 0 0 10px; padding: 10px; position: relative; text-align: center; z-index: 9; }
.plugin-links a:hover { color: #fefefe!important; }
#more-info-support { background: rgb(1, 153, 102) none repeat scroll 0 0; }