.fprview-wrapper { background: #FFF; float: left; }

.inline-block { display: inline-block; }

.fprview-top { background: #{$fprview_settings.custom_template_background_color} none repeat scroll 0 0; box-sizing: border-box; float: left; height: 60px; margin: 0; padding: 0 25px; width: 100%; }
.fprview-top .product-name { color: #{$fprview_settings.custom_template_color}; float: left; line-height: 60px; margin: 0; padding: 0; }
.fprview-top .hint { color: #{$fprview_settings.custom_template_color}; font-size: 1.4em; line-height: 55px; margin: 0 0 0 20px; }

.fprview-left { float: left; margin: 30px 0 0 30px; width: 260px; }
.fprview-left .product-images { height: auto; width: 240px; }
.fprview-left .product-link { color: #777; float: left; line-height: 35px; text-align: center; width: 100%; }
.fprview-left .product-link { margin: 15px 0 0; }
.fprview-left .product-link a { color: #{$fprview_settings.custom_template_background_color}; text-decoration: underline; }

.fprview-right { float: right; margin: 30px 30px 0 0; width: 460px; }
.fprview-right * { color: #444; }
.fprview-right .product-info-tab { background: #fafafa none repeat scroll 0 0; border-left: 1px solid #{$fprview_settings.custom_template_background_color}; border-top: 1px solid #{$fprview_settings.custom_template_background_color}; border-right: 1px solid #{$fprview_settings.custom_template_background_color}; border-bottom: 0 none; border-top-left-radius: 4px; border-top-right-radius: 4px; cursor: pointer; float: left; height: 30px; line-height: 30px; margin: 3px 2px -1px 0; padding: 0 20px; position: relative; transition: all 0.2s ease-in 0s; }
.fprview-right .product-info-tab.active { height: 33px; font-weight: bold; margin: 0 2px -1px 0; }
.fprview-right .product-info-block { background: #fafafa none repeat scroll 0 0; border: 1px solid #{$fprview_settings.custom_template_background_color}; box-sizing: border-box; display: none; float: left; padding: 10px 20px; width: 100%; }
.fprview-right .product-info-block.active { display: block; }

.fprview-bottom { background: #{$fprview_settings.custom_template_background_color} none repeat scroll 0 0; float: left; height: 110px; margin: 30px 0 0; width: 100%; }
.fprview-bottom .fprview-price-wrapper { text-align: center; }
.fprview-bottom .compare-price { color: #{$fprview_settings.custom_template_color}; float: left; font-size: 18px; margin: -8px 0 0 0; text-decoration: line-through; text-align: left; width: 100%; }
.fprview-bottom .price { color: #{$fprview_settings.custom_template_color}; float: left; font-size: 45px; font-weight: bold; margin: 0 0 0 10px; text-align: left; width: 100%; }
.fprview-bottom .product-link { border: 2px solid #{$fprview_settings.custom_template_color}; border-radius: 6px; color: #{$fprview_settings.custom_template_color}; display: block; float: right; font-size: 16px; font-weight: bold; height: 45px; line-height: 45px; margin: 30px 30px 0 0; text-align: center; text-decoration: none; width: 230px; transition: all 0.2s ease-in 0s; }
.fprview-bottom .product-link:hover { font-size: 18px; height: 55px; line-height: 55px; margin: 25px 25px 0 0; width: 250px; }

.bx-wrapper { position: relative; margin: 0 auto 20px; padding: 0; *zoom: 1; }
.bx-wrapper .bx-viewport { box-shadow: none; }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -16px; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; }
.bx-wrapper .bx-prev { left: 10px; background: url("{$wa_static_url}/wa-apps/shop/plugins/fprview/util/bxslider/img/controls.png") no-repeat 0 -32px; }
.bx-wrapper .bx-next { right: 10px; background: url("{$wa_static_url}/wa-apps/shop/plugins/fprview/util/bxslider/img/controls.png") no-repeat -43px -32px; }

.bx-wrapper .bx-controls-direction a { height: 25px; margin-top: -12px; top: 35%; width: 25px; }
.bx-wrapper .bx-controls-direction a { height: 31px; width: 32px; }

.bx-wrapper img { margin: 0 auto; }