<style type="text/css">
	{include file="../css/fprview.css" inline}
</style>

<link media="screen" type="text/css" href="{$wa_url}wa-apps/shop/plugins/fprview/util/fancybox/jquery.fancybox.css" rel="stylesheet">
<script type="text/javascript" src="{$wa_url}wa-apps/shop/plugins/fprview/util/fancybox/jquery.fancybox.js"></script>

<script type="text/javascript">
	{include file="../js/fprview.frontend.js"}
</script>

<script type="text/javascript">
	(function ($) {
	    fprviewFrontend.initModule();
	})(jQuery);
</script>