<style type="text/css">
	{include file="../css/fprview.css" inline}

	.fprview-more-info {
		background-color: #{$fprview_settings.button_background_color};
		color: #{$fprview_settings.button_color};
	}
	.fprview-more-info:hover {
		background-color: #{$fprview_settings.button_background_color_hover};
		color: #{$fprview_settings.button_color_hover};
	}
</style>

{$fprview_settings.button_style}

{if isset($fprview_settings.button_hide) && $fprview_settings.button_hide === 'on'}
<style type="text/css">
	a.fprview-more-info {
		display: none;
    	transition: all 0.2s ease-in 0s;
	}
</style>
{/if}

{if $fprview_settings.fancybox_status === 'enable'}
<link media="screen" type="text/css" href="{$wa_url}wa-apps/shop/plugins/fprview/util/fancybox/jquery.fancybox.css" rel="stylesheet">
<script type="text/javascript" src="{$wa_url}wa-apps/shop/plugins/fprview/util/fancybox/jquery.fancybox.js"></script>
{/if}

{if $fprview_settings.bxslider_status === 'enable'}
<script type="text/javascript" src="{$wa_url}wa-apps/shop/plugins/fprview/util/bxslider/jquery.bxslider.min.js"></script>
{/if}

<script type="text/javascript">
	{include file="../js/fprview.frontend.js"}
</script>

<script type="text/javascript">
	$(document).ready(function () {
	    fprviewFrontend.initModule();
	});
</script>